body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* encabezado */
header{
    display: flex;
    min-width: 70px;
    background-color: #bdf2f0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo{
    display: flex;
    color: #49a0c0;
    margin: 0;
    margin-left: 40px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #ff00ff;
}

.hero {
    height: 100vh;
    background-image: url("../img/actividades.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 40px;
    font-family: 'Comic Sans MS', cursive;
}

.hero p {
    color: white;
    margin-top: 10px;
}

/* secciones */
.bloque {
    max-width: 1100px;
    margin: 80px auto;
    text-align: center;
}

.bloque h2 {
    font-size: 32px;
    font-family: 'Comic Sans MS', cursive;
}

.subtitulo {
    color: #666;
    margin-bottom: 40px;
}

/* tarjetas */
.cards-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card img {
    width: 280px;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    margin-top: 10px;
}

.fecha {
    font-size: 14px;
    color: #777;
}

.sens-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.sens-card {
    width: 300px;
    text-align: center;
}

.sens-card img {
    width: 100%;
    border-radius: 8px;
}

.sens-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.sens-card p {
    font-size: 14px;
    color: #444;
    margin-top: 8px;
}