* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* encabezado */
header{
    display: flex;
    min-width: 70px;
    background-color: #bdf2f0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo{
    display: flex;
    color: #49a0c0;
    margin: 0;
    margin-left: 40px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #ff00ff;
}

.hero {
    height: 100vh;
    background-image: url("../img/contacto.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 120px;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

/* formulario */
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.form input {
    padding: 12px 20px;
    width: 220px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}

.form button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #c2f3ef;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.form button:hover {
    background-color: #aee8e3;
}