* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* encabezado */
header{
    display: flex;
    min-width: 70px;
    background-color: #4A4A4A;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


#logo{
    width: 125px;
}
a{
    text-decoration: none;
    color: #A7D8F0;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #5BA7D1;
}

.header.scrolled {
    background-color: #4A4A4A;
    padding: 10px 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.hero {
    height: 100vh;
    background-image: url("../img/contacto.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 120px;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.hero-content {
    position: relative;
    text-align: center;
    color: white;
    max-width: 600px;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 16px;
    margin-bottom: 30px;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.btn-up {
    width: 45px;
    height: 45px;
    background: #c3f3f3;
    color: #000;
    border-radius: 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.btn-up.show {
    opacity: 1;
    pointer-events: auto;
}

/* formulario */
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.form input {
    padding: 12px 20px;
    width: 220px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
}

.form button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #5BA7D1;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

.form button:hover {
    background-color: #7CC7A8;
}