/*Estilo general*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fafaf7;
}

/*Encabezado*/
header{
    display: flex;
    min-width: 70px;
    background-color: #4A4A4A;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo{
    width: 125px;
}

/*Menú*/
a{
    text-decoration: none;
    color: #A7D8F0;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #5BA7D1;
}

/*Adaptable*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

/*Nombre de usuario*/
.card{
    background-color: #c8f7c5;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2{
    text-decoration: none;
}

/*Secciones*/
.seccion{
    background-color: #B9EAF5; /* Celeste bebé (igual que las tarjetas) */
    padding: 20px;
    margin: 40px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.seccion h2{

    text-decoration: none;
    color: #3399CC; /* Azul suave, igual que los títulos de tarjeta */
}

/*Pie de página*/
footer{
    background-color: #4A4A4A;
    color: gray;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}