html, body {
    height: 100%;
    margin: 0;
}
/*Encabezado*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("../img/fondo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A4A4A;
    padding: 10px;
}

#logo{
    width: 125px;
}

nav a {
    text-decoration: none;
    color: #A7D8F0;
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover {
    color: #5BA7D1;
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
/*Cuadro*/
.card {
    background-color: rgba(200, 247, 197, 0.9); 
    backdrop-filter: blur(3px);
    padding: 25px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
}

button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    background: #2179dc;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #472bb8;
}


.imagen-final {
    width: 200px;
    margin-top: 25px;
}


footer {
    background-color: #4A4A4A;
    color: gray;
    text-align: center;
    padding: 15px;
}