html {
    height: 100%;
}

/*Estilo general*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url("../img/nosotros.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;          
    flex-direction: column; 
    min-height: 100vh;      
}

/*Encabezado*/
header{
    display: flex;
    min-width: 70px;
    background-color: #bdf2f0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo{
    width: 125px;
}

/*Menú*/
a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #ff00ff;
}

/*Adaptable*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

main {
    flex: 1;
}

/*Sección*/
.seccion h2{
    text-decoration: none;
    color: #3399CC;
}

.seccion{
    font-family: sans-serif;
    font-style: italic;
    text-align: justify;
    background-color: #B9EAF5;
    padding: 20px;
    margin: 40px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Pie de página*/
footer{
    background-color: #bdf2f0;
    color: gray;
    text-align: center;
    padding: 15px;
}