/*Estilo general*/
body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FFF8E7; /* Fondo crema claro */
}

/*Encabezado*/
header{
    display: flex;
    min-width: 70px;
    background-color: #FFF2B2; /* Amarillo pastel */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo{
    width: 125px;
}

/*Menú*/
a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #ff00ff;
}

/*Adaptable*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

/*Secciones*/
.seccion{
    background-color: #B9EAF5; /* Celeste bebé (igual que las tarjetas) */
    padding: 20px;
    margin: 40px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.seccion h2{
    text-decoration: underline;
    color: #3399CC; /* Azul suave, igual que los títulos de tarjeta */
}

/*Pie de página*/
footer{
    background-color: #FFF2B2; /* Amarillo pastel igual que el encabezado */
    color: gray;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}