html {
    height: 100%;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FAFAF7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/*Encabezado*/
header{
    display: flex;
    min-width: 70px;
    background-color: #4A4A4A;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#logo{
    width: 125px;
}

/*Menú*/
a{
    text-decoration: none;
    color: #A7D8F0;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #5BA7D1;
}

/*Adaptable*/
@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

/*Nombre de usuario*/
.card{
    background-color: #D9C7F3;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h2{
    text-decoration: none;
}

/*Secciones*/
.seccion{
    background-color: #B9EAF5;
    padding: 20px;
    margin: 40px auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.seccion h2{
    text-decoration: none;
    color: #4A4A4A;
}

/*Subtitulo*/
.intro{
    text-align: center;
}

/* Test*/
.test-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.test-card {
    background-color: #d1e7ec;
    width: 90%;
    max-width: 700px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 5px gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.test-card h3 {
    color: #3399CC;
    text-align: center;
}

.contenedor {
    max-width: 800px;
    background-color: #e6f7ff;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px gray;
}

.pregunta {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #ccc;
}

.pregunta p {
    font-weight: bold;
}

/* Botón consultar */
#consultar {
    width: 100%;
    background-color: #62fcec;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#consultar:hover {
    background-color: #ff90ab;
}

/* Resultado */
.resultado {
    max-width: 800px;
    background-color: #d1e7ec;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

.btn {
    margin-top: 15px;
    display: inline-block;
    background-color: #FF7BAC;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}


/*Pie de página*/
footer{
    background-color: #4A4A4A;
    color: gray;
    text-align: center;
    padding: 15px;
}