/* RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header{
    display: flex;
    min-width: 70px;
    background-color: #bdf2f0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo{
    display: flex;
    color: #49a0c0;
    margin: 0;
    margin-left: 40px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    font-weight: 600;
    padding-right: 30px;
}

nav a:hover{
    color: #ff00ff;
}

/* HERO */
.hero {
    height: 100vh;
    background-image: url("../img/testimonios.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 0;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', cursive;
}

.hero-content p {
    color: white;
    font-size: 18px;
}

/* TESTIMONIOS */
.testimonios {
    max-width: 1100px;
    margin: 80px auto;
    text-align: center;
}

.testimonios h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', cursive;
}

.subtitulo {
    color: #555;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card p {
    font-size: 14px;
    color: #444;
    margin-top: 8px;
}
